//-Created by JackieWu on 12/22/15.
| <?js it.forEach(function(item,i){ ?>
.question-box.J_q-a
    | <?js i = i + 1; ?>
    h1 @{i}、@{item.question_title}
    | <?js item.option.forEach(function(itemOpt,k){ ?>
    .input-box(class="J_input-@{item.question_id}")
        .radio-input
            input(type="radio" id="input-@{i}-@{k}" name="r-@{item.question_id}" value="@{itemOpt.option_id}")
        label(for="input-@{i}-@{k}") @{itemOpt.option_title}
    | <?js }); ?>
| <?js }); ?>
