//-Created by JackieWu on 12/23/15.
.box-01.box
    a(href="answer.html?user_id=@{it.user_id}&order_type=1&house_id=@{it.house_id}&house_name=@{it.house_name}") 首次来访
    a(href="search.html?user_id=@{it.user_id}&order_type=2&house_id=@{it.house_id}&house_name=@{it.house_name}") 再次来访
.box-02.box
    a(href="search.html?user_id=@{it.user_id}&order_type=3&house_id=@{it.house_id}&house_name=@{it.house_name}") 意向金
    a(href="search.html?user_id=@{it.user_id}&order_type=4&house_id=@{it.house_id}&house_name=@{it.house_name}") 定金
    a(href="search.html?user_id=@{it.user_id}&order_type=5&house_id=@{it.house_id}&house_name=@{it.house_name}") 签约
    a(href="search.html?user_id=@{it.user_id}&order_type=7&house_id=@{it.house_id}&house_name=@{it.house_name}") 付款
