//-Created by JackieWu on 12/20/15.
| <?js var leftBtn = it.leftBtn !== undefined ? it.leftBtn : '确定'; ?>
| <?js var rightBtn = it.rightBtn !== undefined ? it.rightBtn : '取消'; ?>
| <?js var hide = it.rightBtn === undefined ? '' : 'hide'; ?>
.J_mbox-bg.m-box-bg.hide
    .m-box.J_mbox
        .m-cont @{it.tips}
        .m-box-btn.J_m-box-btn
            span @{leftBtn}
            span(class="@{hide}")  @{rightBtn}
