//-Created by JackieWu on 12/23/15.
//-签约
| <?js var area= '',house_room = '',house_floor ='',house_number=''; ?>
| <?js if(it.data.house_area != 0){area = it.data.house_area} ?>
| <?js if(it.data.house_number != 0){house_number = it.data.house_area} ?>
| <?js if(it.data.house_floor != 0){house_floor = it.data.house_area} ?>
| <?js if(it.data.house_room != 0){house_room = it.data.house_area} ?>
.search-intention
    .intention-list
        .inten-name
            i.s-i-icon-1
            span 项目名称
        .inten-input
            .project.J_inten-project @{it.house_name}
    .intention-list
        .inten-name
            i.s-i-icon-7
            span 购房房号
        .inten-input.house-number
            input.J_inten-number.input-center(type='text',value="@{house_number}")
            .separated 栋
            input.J_inten-floor.input-center(type='text',value="@{house_floor}")
            .separated 层
            input.J_inten-room.input-center(type='text',value="@{house_room}")
            .separated 室
    .intention-list
        .inten-name
            i.s-i-icon-2
            span 建筑面积
        .inten-input
            input.J_inten-area(type='tel',value="@{area}")
    .intention-list
        .inten-name
            i.s-i-icon-3
            span 客户姓名
        .inten-input
            input.J_inten-name(type='text',value="@{it.data.customer_name}")
    .intention-list
        .inten-name
            i.s-i-icon-4
            span 联系电话
        .inten-input
            input.J_inten-phone(type='tel', value="@{it.data.customer_mobile}")
    .intention-list
        .inten-name
            i.s-i-icon-9
            span 购房总价
        .inten-input
            .icon-money ￥
            input.J_inten-price(type='tel', value="@{it.data.total_price}")
    .intention-list
        .inten-name
            i.s-i-icon-10
            span 购房单价
        .inten-input
            .icon-money ￥
            .unit.J_unit @{it.data.price}

.unit-tips 注：输入总价后自动换算单价
.search-unit-btn.J_search-unit-btn.J_submit 提交
