//-Created by JackieWu on 12/23/15.
//-付款
| <?js var drop = (it.drop === 0 ? '分期付款': '一次性'); var value = (it.drop === 0 ? '2': '1'); ?>
| <?js if(!it.p){ ?>
.J_payment
    .deal-box.J_deal-box
        .deal-list
            .pay.border-bottom
                .p-title 付款方式
                .p-cont
                    .border.J_drop
                        i
                        span(data-value="@{value}") @{drop}
                    .drop.J_drop-show.hide
                        span(data-value="1") 一次性
                        span(data-value="2") 分期付款
                .p-cont-btn.J-cont-btn
        .deal-list
            .pay
                .p-title 付款金额
                .p-cont
                    .p-money
                        i ￥
                        input.J_money-input(type='tel',value="20000")
        .deal-list
            .pay.border-bottom
                .p-title 付款时间
                .p-cont
                    .p-time
                        input.J_money-time(type='date')
                        i
.deal-btn.J_deal-btn 提交
| <?js } else { ?>
.deal-box.J_deal-box
    .deal-list
        .pay
            .p-title 付款金额
            .p-cont
                .p-money
                    i ￥
                    input.J_money-input(type='tel',value="20000")
    .deal-list
        .pay.border-bottom
            .p-title 付款时间
            .p-cont
                .p-time
                    input.J_money-time(type='date')
                    i
| <?js } ?>
