//-Created by JackieWu on 12/23/15.
//-意向金
| <?js var order_type = '',next_order_type = '',area = '',day=''; ?>
| <?js var href = 'javascript:;'; ?>
| <?js if(it.data.order_type == 1){ ?>
| <?js     order_type= '首次来访'; ?>
| <?js  }else if(it.data.order_type == 2){ ?>
| <?js     order_type= '再次来访'; ?>
| <?js  }else if(it.data.order_type == 3){ ?>
| <?js     order_type= '付意向金';?>
| <?js  }else if(it.data.order_type == 4){ ?>
| <?js      order_type= '付定金'; ?>
| <?js  }else if(it.data.order_type == 5){ ?>
| <?js      order_type= '签约'; ?>
| <?js  }else if(it.data.order_type == 6){ ?>
| <?js      order_type= '待付款'; ?>
| <?js  }else if(it.data.order_type == 7){ ?>
| <?js      order_type= '确认付款'; ?>
| <?js  } ?>

| <?js if(it.data.next_order_type == 1){next_order_type = '首次来访';}else if(it.data.next_order_type == 2){next_order_type='再次来访';}else if(it.data.next_order_type == 3){next_order_type='付意向金';}else if(it.data.next_order_type == 4){next_order_type='付定金';}else if(it.data.next_order_type == 5){next_order_type='签约';}else if(it.data.next_order_type == 6){next_order_type='待付款';}else if(it.data.next_order_type == 7){next_order_type='确认付款';} ?>
| <?js if(it.data.house_area != 0){area = it.data.house_area} ?>

.search-intention
    .intention-list
        .inten-name
            i.s-i-icon-1
            span 项目名称
        .inten-input
            .project.J_inten-project @{it.house_name}
    .intention-list
        .inten-name
            i.s-i-icon-2
            span 建筑面积
        .inten-input
            input.J_inten-area(type='text',value="@{area}")
    .intention-list
        .inten-name
            i.s-i-icon-3
            span 客户姓名
        .inten-input
            input.J_inten-name(type='text', value="@{it.data.customer_name}")
    .intention-list
        .inten-name
            i.s-i-icon-4
            span 联系电话
        .inten-input
            input.J_inten-phone(type='tel', value="@{it.data.customer_mobile}", maxlength="11")
    .intention-list
        .inten-name
            i.s-i-icon-5
            span 下一步进度
        .inten-cont
            .border.J_drop
                i
                span(data-value="@{it.data.next_order_type}") @{next_order_type}
            .drop.J_drop-show.hide
                span(data-value="2") 再次来访
                span(data-value="3") 付意向金
                span(data-value="4") 付定金
                span(data-value="5") 签约
                span(data-value="6") 付款

    .intention-list
        .inten-name
            i.s-i-icon-6
            span 倒计时
        .time-box
            .time
                span.J_diff-days @{it.data.diff_days}
            label.btn-icon
                input#btn-time(type="date")

.search-inten-btn
    span.J_cancel 退订
    span.J_submit 提交
.search-tips 注：退订后将被降为D级客户
