//-Created by JackieWu on 12/31/15.
.time-name
    span 姓名:
    span @{it.name}
    a(href="fill-in.html?user_id=@{it.user_id}&house_id=@{it.house_id}&house_name=@{it.house_name}&customer_id=@{it.customer_id}&order_type=@{it.order_type}&customer_order_id=@{it.customer_order_id}}").btn-icon
| <?js it.data.forEach(function(item,i){ ?>
.year-box
    .time-year-left
        .time-year
    .time-year-right
        .time-year-icon
        .year-cont @{item.year}
| <?js item.results.forEach(function(detail,k){ ?>
.date-box
    .time-date-left
        span.day @{detail.day}
        span /
        span @{detail.month}
    .time-date-right
        .time-background
        .time-date-icon
            .time-d-i
        .time-date-cont @{detail.log_note}
| <?js }); ?>
| <?js }); ?>
