//-Created by JackieWu on 1/5/16.
| <?js if(it.data.length > 0){ ?>
.wait.today-box
    | <?js it.data.forEach(function(item,k){ ?>
    .box
        | <?js item.list.forEach(function(listItem, i){ ?>
        | <?js var order_type = '',next_order_type = ''; ?>
        | <?js var href = 'javascript:;'; ?>
        | <?js if(listItem.order_type == 1){ ?>
        | <?js     order_type= '邀约来访'; ?>
        | <?js     next_order_type= '再次来访'; ?>
        | <?js  }else if(listItem.order_type == 2){ ?>
        | <?js     order_type= '再次来访'; ?>
        | <?js     next_order_type= '付意向金'; ?>
        | <?js  }else if(listItem.order_type == 3){ ?>
        | <?js     order_type= '付意向金';?>
        | <?js     next_order_type= '付定金'; ?>
        | <?js  }else if(listItem.order_type == 4){ ?>
        | <?js      order_type= '付定金'; ?>
        | <?js     next_order_type= '签约'; ?>
        | <?js  }else if(listItem.order_type == 5){ ?>
        | <?js      order_type= '签约'; ?>
        | <?js     next_order_type= '待付款'; ?>
        | <?js  }else if(listItem.order_type == 6){ ?>
        | <?js      order_type= '待付款'; ?>
        | <?js     next_order_type= '确认付款'; ?>
        | <?js  }else if(listItem.order_type == 7){ ?>
        | <?js      order_type= '确认付款'; ?>
        | <?js     next_order_type= '完成'; ?>
        | <?js  } ?>
        | <?js if((JSON.parse(listItem.order_type) + 1) != 1 && (listItem.order_type < 8)){ ?>
        | <?js     href= './search.html?user_id='+ it.user_id +'&house_name='+ it.house_name +'&house_id='+ it.house_id +'&deal='+ listItem.customer_name +'&order_type='+ (JSON.parse(listItem.order_type) + 1) +''; ?>
        | <?js } else { ?>
        | <?js href = 'javascript:;'; ?>
        | <?js } ?>
        .wait-list.J_wait-list
            .list-box
                .list-left
                    i.list-icon-01
                    span 客户姓名
                .list-right
                    span @{listItem.customer_name}
            .list-box
                .list-left
                    i.list-icon-02
                    span 当前级别
                .list-right
                    span @{listItem.level}级客户
            .list-box
                .list-left
                    i.list-icon-03
                    span 最新接触
                .list-right
                    span @{listItem.lasttime},@{order_type}
            .list-box
                .list-left
                    i.list-icon-04
                    span 邀约来访
                .list-right.J_customer-mobile
                    a
                        i.right-icon-1
                    a
                        i.right-icon-2
            .list-box
                .list-left
                    i.list-icon-05
                    span 下一步行动
                .list-right
                    a.link-a(href="@{href}") @{next_order_type}
            .list-box
                .list-left
                    i.list-icon-06
                    span 计划时间
                .list-right.J_customer-date-input
                    span @{listItem.diff_days}天
                    label(for="input-@{k}-@{i}")
                        input(type="date", id="input-@{k}-@{i}")
                        i.right-icon-3
        | <?js }); ?>
    | <?js }); ?>
| <?js } ?>
