//–Created by JackieWu on 15/12/14.
html
    head
        include ./common/head
        link(rel='stylesheet', type='text/css', href='./css/answer.css')
        title 问卷调查
        body
            .question-box.J_q-1
                h1 1、请问您的最高学历是？
                .input-box
                    .radio-input
                        input(type="radio" id="input-1-0" name="r-1" value="1" checked)
                    label(for="input-1-0") 博士及其以上
                .input-box
                    .radio-input
                        input(type="radio" id="input-2-0" name="r-1" value="1")
                    label(for="input-2-0") 硕士
                .input-box
                    .radio-input
                        input(type="radio" id="input-3-0" name="r-1" value="1")
                    label(for="input-3-0") 硕士
                .input-box
                    .radio-input
                        input(type="radio" id="input-4-0" name="r-1" value="1")
                    label(for="input-4-0") 硕士
            .question-box.J_q-2
                h1 2、您目前的居住条件是？
                .input-box
                    .radio-input
                        input(type="radio" id="input-1-1" name="r-2" value="2" checked)
                    label(for="input-1-1") 出租房
                .input-box
                    .radio-input
                        input(type="radio" id="input-2-1" name="r-2" value="2")
                    label(for="input-2-1") 自购商品房
                .input-box
                    .radio-input
                        input(type="radio" id="input-3-1" name="r-2" value="2")
                    label(for="input-3-1") 经济实用房
                .input-box
                    .radio-input
                        input(type="radio" id="input-4-1" name="r-2" value="2")
                    label(for="input-4-1") 单位福利分房
            .question-box.J_q-3
                h1 3、您目前的住房型是？
                .input-box
                    .radio-input
                        input(type="radio" id="input-1-2" name="r-3" value="3" checked)
                    label(for="input-1-2") 两房
                .input-box
                    .radio-input
                        input(type="radio" id="input-2-2" name="r-3" value="3")
                    label(for="input-2-2")  三房
                .input-box
                    .radio-input
                        input(type="radio" id="input-3-2" name="r-3" value="3")
                    label(for="input-3-2") 四房
                .input-box
                    .radio-input
                        input(type="radio" id="input-4-2" name="r-3" value="3")
                    label(for="input-4-2") 复式
            .question-box.J_q-3
                h1 4、您目前住房的面积有多大？
                .input-box
                    .radio-input
                        input(type="radio" id="input-1-3" name="r-4" value="4" checked)
                    label(for="input-1-3") 70平米以下
                .input-box
                    .radio-input
                        input(type="radio" id="input-2-3" name="r-4" value="4")
                    label(for="input-2-3")  71—100平米
                .input-box
                    .radio-input
                        input(type="radio" id="input-3-3" name="r-4" value="4")
                    label(for="input-3-3") 101—150平米
                .input-box
                    .radio-input
                        input(type="radio" id="input-4-3" name="r-4" value="4")
                    label(for="input-4-3") 150平米以上
            .question-box.J_q-3
                h1 5、您目前的家庭月总收入是？
                .input-box
                    .radio-input
                        input(type="radio" id="input-1-4" name="r-5" value="5" checked)
                    label(for="input-1-4") 3001—4000元
                .input-box
                    .radio-input
                        input(type="radio" id="input-2-4" name="r-5" value="5")
                    label(for="input-2-4")  4001—5000元
                .input-box
                    .radio-input
                        input(type="radio" id="input-3-4" name="r-5" value="5")
                    label(for="input-3-4") 5001—10000元
                .input-box
                    .radio-input
                        input(type="radio" id="input-4-4" name="r-5" value="5")
                    label(for="input-4-4") 10000元以上
            .question-btn-box
                a(href="javascript:;").question-btn 提交