//–Created by JackieWu on 15/12/14.
html
    head
        include ./common/head
        title 问卷调查
        body
            .answer-body
                .J_answer-box
                .question-btn-box
                    a(href="javascript:;").question-btn.J_answer-btn 提交
            script(src="./js/answer.js")