//-Created by JackieWu on 12/19/15.
doctype html
html
    head
        include ./common/head
        title 成交助手
        body(style="background:#ececec")
            .deal-title-bar-box.J_deal-title-bar
                a(href="javascript:;",data-value="6").title
                    span A+级
                a(href="javascript:;",data-value="5").title
                    span A级
                a(href="javascript:;",data-value="4").title
                    span B+级
                a(href="javascript:;",data-value="3").title
                    span B级
                a(href="javascript:;",data-value="2").title
                    span C+级
                a(href="javascript:;",data-value="7").title
                    span 待交房
            .deal-content.J_deal-content-box
            .loading-box.hide.J_loading
                .cont
                    .loader
                    .loading 正在加载...
            script(src="./js/deal.js")
