//-Created by JackieWu on 12/16/15.
doctype html
html
    head
        include ./common/head
        title 超级来访单 注册
        body
            .search-body
                .search-box
                    .search-top
                        .search-input-box
                            .search-input
                                i
                                input.J_search-input(type="text",placeholder="请输入客户的姓名或者电话号码")
                            .search-btn.J_search-btn 搜索
                    //查询后放到里面的内容
                    .house-search-content-box.J_house-search-content-box

            script(src="./js/house-search.js")