//-Created by JackieWu on 15/12/12.
doctype html
html
    head
        include ./common/head
        title 超级来访单首页
        body
            .J-box.hide(style="width:100%;height:100px;position:fixed;top:0;left:0;border:1px solid #000;z-index:999999;background:#fff;")
            .index-bg
            .index-box
                .index-top
                    .date-picker
                        .date-title
                            .time 今天
                            .day.J_index-day
                            .time-icon
                        .time-calendar.J_today-click
                            .calendar-box.J_calendar

                            .calendar-tips.J_calendar-tips
                                .tips 今日待办
                                .num.J_wait-number 0
                    .my-photo
                        .photo-box
                            label(for="photo").is-photo
                                .load.J_photo-load.hide 上传中...
                                input(type="file" id="photo")
                                .camera
                                img.J_photo(src='./images/login-photo.jpg')
                            .center.J_center 个人中心
                .title.bg-01.J_index-title-01
                    .top.bg-01
                    i.left-icon-01
                    .right-title 新增来访
                .new-content.J_link-box

                .title.bg-02.J_search
                    .top.bg-02
                    i.left-icon-02
                    .right-title 客户查询
                .title.bg-03.J_deal
                    .top.bg-03
                    i.left-icon-03
                    .right-title 成交助手
                .title.bg-04.J_purchasing
                    .top.bg-04
                    i.left-icon-04
                    .right-title 限购查询
                .J_wait-box
            script(src="./js/index.js")
