//-Created by JackieWu on 15/12/12.
doctype html
html
    head
        include ./common/head
        link(rel='stylesheet', type='text/css', href='./css/index.css')
        title 超级来访单首页
        body
            .index-box
                .title.bg-01
                    .top.bg-01
                    i.left-icon-01
                    .right-title 新增来电来访
                .title.bg-02
                    .top.bg-02
                    i.left-icon-02
                    .right-title 查询客户
                .title.bg-03
                    .top.bg-03
                    i.left-icon-03
                    .right-title 成交助手
                .title.bg-04
                    .top.bg-04
                    i.left-icon-04
                    .right-title 今日待办

