//-Created by JackieWu on 1/5/16.
doctype html
html
    head
        include ./common/head
        title 添加备注
    body(style="height:100%")
        .text-textarea
            textarea.J_text-textarea
        .ontes-btn.J_btn 提交

        script(src="./js/notes.js")
