//-Created by JackieWu on 12/16/15.
doctype html
html
    head
        include ./common/head
        title 超级来访单 注册
        body
            .search-body
                .search-box
                    .search-top
                        .search-input-box
                            .search-input
                                i
                                input.J_search-input(type="text",placeholder="请输入客户的姓名或者电话号码")
                            .search-btn.J_search-btn 搜索
                        .search-input-box
                            .search-date-btn.J_search-date-btn 手机名字都忘了-试试来访日期搜索吧
                    //查询后放到里面的内容
                    .search-content-box.J_search-content-box

                    .search-date.J_search-date-box.hide
                        .s-date-btn.J_date-btn 查询
                        .s-date-box.J_select-date
                            //label.J_time-star(for="start-time",data-star="") 选择起始日期
                            input(id="start-time",type="date")
                            //label.J_time-end(for="end-time",data-end="") 选择截止日期
                            input(id="end-time",type="date")
            script(src="./js/search.js")
