//-Created by JackieWu on 12/19/15.
doctype html
html
    head
        include ./common/head
        title 客户时间线
        body
            .time-line-box
                .time-top.J_time-line-box


                .time-bottom
                    .time-list
                        .time-bottom-name
                            i.s-i-icon-5
                            span 下一步进度
                        .inten-cont
                            .border
                                i
                                span.J_order-type

                    .time-list
                        .time-bottom-name.J_time-bottom
                            i.s-i-icon-6
                            span 倒计时
                        .time-box
                            .time
                                span.J_time 3
                            label(for="time-date").btn-icon
                                input(type="date",id="time-date")
            script(src="./js/time-line.js")
