//-Created by JackieWu on 12/19/15.
doctype html
html
    head
        include ./common/head
        title 成交助手
        body
            .time-line-box
                .time-top.J_time-line-box




                .time-bottom
                    .time-list
                        .time-bottom-name
                            i.s-i-icon-5
                            span 下一步进度
                        .inten-cont
                            .border
                                i
                                | 付意向金

                    .time-list
                        .time-bottom-name
                            i.s-i-icon-6
                            span 计划时间
                        .time-box
                            .time
                                span 3
                                | 天
                            label(for="time-date").btn-icon
                                input.hide(type="date",id="time-date")
            script(src="./js/time-line.js")
