//-Created by JackieWu on 1/5/16.
doctype html
html
    head
        include ./common/head
        title 今日待办
        body(style="background: #ececec")
            .index-box.J_wait-box.box-today
            script(src="./js/today.js")
