//-Created by JackieWu on 12/19/15.
doctype html
html
    head
        include ./common/head
        title 成交助手
        body
            .time-line-box
                .time-top.J_time-line-box.is-pad

            script(src="./js/tracking.js")
