//-Created by JackieWu on 12/23/15.
include ./common/script-src
doctype html
html
    head
        include ./common/head
        title 重置密码
        body
            .logon-box
                .input-box
                    .input
                        i.logon-icon-2
                        input.J_logon-tel(type="tel",placeholder="请输入手机号码",maxlength="11")
                    .input
                        i.logon-icon-4
                        input.J_logon-pwd(type="password",placeholder="请输入密码")
                    .logon-btn.J_logon-btn 重置密码
            script(src="./js/update-pwd.js")