//-Created by JackieWu on 12/16/15.
.logon-box,.create-files-box
    width 100%
    height 100%
    background #ececec
    overflow hidden
    .input-box
        width 95%
        margin 0 auto
        font-size .8rem
        .input
            background #fff
            height 44px
            border-radius 5px
            border 1px solid #e0e0e0
            margin-top 20px
            i
                width 45px
                height 100%
                display block
                float left
            input
                float left
                width 75%
                height 100%
                line-height 44px
                border 0
                background #fff
            .logon-icon-1
                background url(../i/logon-icon-1.png) no-repeat
                background-size 100%
            .logon-icon-2
                background url(../i/logon-icon-2.png) no-repeat
                background-size 100%
            .logon-icon-3
                background url(../i/logon-icon-3.png) no-repeat
                background-size 100%
            .logon-icon-4
                background url(../i/logon-icon-4.png) no-repeat
                background-size 100%
        .logon-btn
            height 44px
            background #25a9ff
            border-radius 5px
            text-align center
            line-height 44px
            color #fff
            margin-top 40px
            &:active
                background #1d94e1

.create-files-box
    font-size .8rem
    .files-title
        width 100%
        height 50px
        background #e6e6e6
        color #999
        text-align center
        line-height 50px
        border-bottom 1px solid #dbdbdb
        span
            color #25a9ff
    .input-box
        .input
            .create-files-icon-1
                background url(../i/create-files-icon-1.png) no-repeat
                background-size 100%
            .create-files-icon-2
                background url(../i/create-files-icon-2.png) no-repeat
                background-size 100%
            .create-files-icon-3
                background url(../i/create-files-icon-3.png) no-repeat
                background-size 100%
