//-Created by JackieWu on 1/5/16.
.text-textarea
    margin 0 auto
    width 90%
    height 150px
    border 1px solid #ccc
    border-radius 5px
    margin-top 20px
    margin-bottom 20px
    position relative
    textarea
        padding 3% 3%
        border 0
        display block
        border-radius 5px
        font-size .8rem
        width 94%
        height 75%
    .tips
        position absolute
        font-size .8rem
        color #999
        bottom 5px
        right 5px
.ontes-btn
    background #25a9ff
    text-align center
    line-height 45px
    height 45px
    border-radius 5px
    color #fff
    width 90%
    margin 0 auto
