//-Created by JackieWu on 12/16/15.
.search-body
    width 100%
    background #ececec
    height 100%
    .search-box
        padding-top 1px
        .search-top
            width 100%
            z-index 99
            position fixed
            top 0
            left 0
            background #e7e7e7
            .search-input-box
                height 30px
                padding 7px 3%
                border-bottom 1px solid #cdcdcd
                font-size .8rem
                overflow hidden
                .search-input
                    width 80%
                    height 30px
                    overflow hidden
                    background #fff
                    border-radius 5px
                    float left
                    i
                        width 35px
                        height 30px
                        display block
                        float left
                        background url(../i/search-icon-1.png) no-repeat
                        background-size 100%
                    input
                        width 80%
                        border 0
                        background #fff
                        float left
                        line-height 30px
                .search-btn
                    width 17%
                    height 30px
                    margin-left 2%
                    text-align center
                    color #fff
                    background #25a9ff
                    border-radius 5px
                    line-height 30px
                    float left

                .search-date-btn
                    background #25a9ff
                    text-align center
                    line-height 30px
                    height 30px
                    border-radius 5px
                    color #fff

//查询出来的内容的box
        .search-content-box
            margin-top 90px
            font-size .8rem
            overflow-y auto
            .deal-box
                background #fff
                .deal-list
                    height 43px
                    line-height 30px
                    &:last-child
                        height 42px
                    .pay
                        height 34px
                        margin-left 30px
                        padding 4px 0
                        .p-title
                            color #666
                            float left
                        .p-cont
                            float left
                            margin-left 20px
                            position relative
                            .border
                                width 86px
                                border-radius 5px
                                border 1px solid #ccc
                                height 25px
                                position relative
                                text-indent 8px
                                line-height 23px
                                margin-top 2px
                                color #999999
                                i
                                    width 11px
                                    height 11px
                                    display block
                                    position absolute
                                    background url(../i/border-icon.png) no-repeat
                                    background-size 100%
                                    top 8px
                                    right 7px
                            .drop
                                width 86px
                                position absolute
                                top 27px
                                left 0
                                overflow-y auto
                                background #fff
                                z-index 999
                                span
                                    display block
                                    height 30px
                                    text-indent 1rem
                                    line-height 30px
                            .p-money,.p-time
                                padding 0 10px 0 7px
                                height 25px
                                border-radius 3px
                                overflow hidden
                                border 1px solid #ccc
                                margin-top 3px
                                line-height 24px
                                color #999999
                                i
                                    float left
                                    font-style normal
                                input,label
                                    float left
                                    border 0
                                    background #fff
                                    width 80px
                                    height 25px
                                    color #999999
                                    line-height 25px
                            .p-time
                                padding-left 5px
                                padding-right 5px
                                input
                                    text-align center
                                    width 100px
                                i
                                    display block
                                    width 16px
                                    height 16px
                                    background url(../i/p-time-icon-1.png) no-repeat
                                    background-size 100%
                                    margin-top 6px
                                    margin-left 7px
    
                        .p-cont-btn
                            width 25px
                            height 25px
                            background url(../i/pay-icon-1.png) 5px 5px no-repeat #25a9ff
                            background-size 60%
                            border-radius 3px
                            float left
                            margin-left 15px
                            margin-top 3px
            .deal-btn
                width 95%
                height 40px
                margin 0 auto
                background #25a9ff
                border-radius 5px
                text-align center
                line-height 40px
                color #fff
                font-size 1rem
                margin-top 10px
            .search-result-list
                border-top 1px solid #e0e0e0
                border-bottom 1px solid #e0e0e0
                padding 9px 0
                background #fff
                padding-left 3%
                position relative
                margin-top 10px
                .s-list-icon
                    position absolute
                    width 10px
                    height 15px
                    background url(../i/s-list-icon.png) no-repeat
                    top 50%
                    right 30px
                    margin-top -5px
                    background-size 100%
                .search-list
                    height 30px
                    line-height 30px
                    overflow hidden
                    i
                        display block
                        width 18px
                        height 18px
                        float left
                        margin-top 7px
                    .s-title
                        margin-left 10px
                        color #666
                        float left
                    .s-cont
                        color #999
                        margin-left 10px
                        float left
                        .border
                            border-radius 5px
                            padding-right 27px
                            border 1px solid #ccc
                            height 27px
                            position relative
                            text-indent 8px
                            line-height 27px
                            i
                                width 11px
                                height 11px
                                display block
                                position absolute
                                background url(../i/border-icon.png) no-repeat
                                background-size 100%
                                top 3px
                                right 7px
                        a
                            display block
                            width 16px
                            height 16px
                            margin-left 10px
                            margin-top 8px
                            float left
                            &:last-child
                                margin-left 30px
                    .s-dynamic
                        color #999
                        margin-left 10px
                        float left
                        a
                            display block
                            color #666
                            width 180px
                            overflow hidden
                            text-overflow ellipsis
                            white-space nowrap
                    .s-icon-1
                        background url(../i/s-icon-1.png) no-repeat
                        background-size 100%
                    .s-icon-2
                        background url(../i/s-icon-2.png) no-repeat
                        background-size 100%
                    .s-icon-3
                        background url(../i/s-icon-3.png) no-repeat
                        background-size 100%
                    .s-icon-4
                        background url(../i/s-icon-4.png) no-repeat
                        background-size 100%
                    .s-icon-5
                        background url(../i/s-icon-5.png) no-repeat
                        background-size 100%
                    .s-icon-6
                        background url(../i/s-icon-6.png) no-repeat
                        background-size 100%
                    .s-icon-7
                        background url(../i/s-icon-7.png) no-repeat
                        background-size 100%
                    .s-icon-8
                        background url(../i/s-icon-8.png) no-repeat
                        background-size 100%
                &:first-child
                    border-top 0
                    margin-top 0
            .search-intention
                background #fff
                .intention-list
                    border-bottom 1px solid #cdcdcd
                    height 45px
                    line-height 45px
                    .inten-name
                        width 35%
                        color #666
                        line-height 45px
                        height 100%
                        overflow hidden
                        float left
                        i
                            width 20px
                            height 20px
                            float left
                            display block
                            margin 14px 6% 0 12%
                        span
                            float left
                            display block
                        .s-i-icon-1
                            background url(../i/s-i-icon-1.png) no-repeat
                            background-size 100%
                        .s-i-icon-2
                            background url(../i/s-i-icon-2.png) no-repeat
                            background-size 100%
                        .s-i-icon-3
                            background url(../i/s-i-icon-3.png) no-repeat
                            background-size 100%
                        .s-i-icon-4
                            background url(../i/s-i-icon-4.png) no-repeat
                            background-size 100%
                        .s-i-icon-5
                            background url(../i/s-i-icon-5.png) no-repeat
                            background-size 100%
                        .s-i-icon-6
                            background url(../i/s-i-icon-6.png) no-repeat
                            background-size 100%
                        .s-i-icon-7
                            background url(../i/s-i-icon-7.png) no-repeat
                            background-size 100%
                        .s-i-icon-9
                            background url(../i/s-i-icon-9.png) no-repeat
                            background-size 100%
                        .s-i-icon-10
                            background url(../i/s-i-icon-10.png) no-repeat
                            background-size 100%
                    .inten-input
                        width 55%
                        margin-left 5%
                        float left
                        .input-center
                            text-align center
                        .icon-money
                            width 5%
                            height 100%
                            line-height 45px
                            float left
                            margin-right 4px
                        input,.project
                            width 80%
                            height 45px
                            line-height 45px
                            border 0
                            background transparent
                            float left
                            color #333
                        .unit
                            max-width 90%
                            height 45px
                            color #cc0000
                            line-height 45px
                            font-size 1rem
                            float left
                    .house-number
                        input
                            text-align center
                            width 20%
                        .separated
                            font-size .8rem
                            float left
                            margin-left 2%
                            color #666
                            margin-right 2%
                    .inten-cont
                        color #999
                        margin-left 5%
                        float left
                        margin-top 8px
                        position relative
                        .border
                            width 88px
                            border-radius 5px
                            border 1px solid #ccc
                            height 27px
                            position relative
                            text-indent 8px
                            line-height 27px
                            color #25a9ff
                            i
                                width 11px
                                height 11px
                                display block
                                position absolute
                                background url(../i/s-i-icon-8.png) no-repeat
                                background-size 100%
                                top 9px
                                right 7px
                        .drop
                            width 86px
                            position absolute
                            top 27px
                            left 0
                            height 80px
                            overflow-y auto
                            background #fff
                            z-index 999
                            span
                                display block
                                height 30px
                                text-indent 1rem
                                line-height 30px
                    .time-box
                        overflow hidden
                        margin-left 5%
                        width 60%
                        float left
                        .time
                            float left
                            height 100%
                        .btn-icon
                            width 45px
                            height 25px
                            background url(../i/index-right-icon-3.png) 10px 0 #25a9ff no-repeat
                            background-size 60%
                            float left
                            margin-left 8%
                            border-radius 3px
                            margin-top 10px
                            position relative
                            input
                                position absolute
                                top 0
                                left 0
                                width 100%
                                height 100%
                                z-index 1
                                opacity 0
                                font-size 0
                                border 0
            .search-inten-btn
                text-align center
                margin-top 30px
                span
                    display inline-block
                    width 40%
                    height 35px
                    color #fff
                    background #25a9ff
                    border-radius 3px
                    line-height 35px
                    font-size 1rem
                    margin-left 5%
                    &:first-child
                        margin-left 0
                        background #999999
            .search-tips,.unit-tips
                text-align center
                font-size .625rem
                margin-top 13px
            .unit-tips
                color #ccc
            .search-unit-btn
                width 80%
                margin 0 auto
                font-size 1rem
                text-align center
                background #25a9ff
                height 45px
                line-height 45px
                color #fff
                border-radius 3px
                margin-top 20px

        //下面查询日期
        .search-date
            position fixed
            bottom 0
            left 0
            width 100%
            height 72px
            background rgba(0,0,0,.4)
            color #fff
            font-size .9rem
            .s-date-btn
                text-align center
                line-height 40px
                height 40px
                border-bottom 1px solid #fff
            .s-date-box
                line-height 30px
                height 30px
                display -webkit-box
                display box
                label
                    border 0
                    text-align center
                    display block
                    width 0
                    -webkit-box-flex 1
                    box-flex 1
                    position relative
                    &:last-child
                        border-left 1px solid #fff
                    input
                        width 100%
                        height 100%
                        background transparent
                        border 0
                        position absolute
                        top 0
                        left 0
                        text-align center
                        color #fff
                        opacity 0

.house-search-content-box
    margin-top 45px
    padding 0 3%
    background #fff
    .house-list
        color #333
        height 40px
        line-height 40px
