//-Created by JackieWu on 12/19/15.
.time-line-box
    font-size .8rem
    .time-top
        margin-top 10px
        padding-bottom 110px
        .year-box
            overflow hidden
            .time-year-left
                width 30%
                float left
                padding-bottom 20px
                .time-year
                    height 40px
            .time-year-right
                width 69%
                float left
                position relative
                border-left 1px solid #25a9ff
                padding-bottom 20px
                .time-year-icon
                    width 40px
                    height 40px
                    border-radius 50%
                    background url(../i/time-line-icon-1.png) 10px 10px #25a9ff no-repeat
                    background-size 50%
                    position absolute
                    top 0
                    left -20px
                .year-cont
                    height 40px
                    line-height 40px
                    font-size .8rem
                    padding-left 30px
                    color #333
        .date-box
            overflow hidden
            &:last-child
                .time-date-right
                    padding-bottom 0
                    .time-date-icon
                        top 50%
                    .time-background
                        position absolute
                        width 20px
                        height 22px
                        background #fff
                        bottom 0
                        left -10px
            .time-date-left
                width 30%
                float left
                height 44px
                line-height 44px
                text-align center
                font-size .8rem
                .day
                    font-size 1rem
            .time-date-right
                width 69%
                float left
                position relative
                border-left 1px solid #25a9ff
                padding-bottom 20px
                .time-date-icon
                    width 13px
                    height 13px
                    border 1px solid #25a9ff
                    background #fff
                    position absolute
                    left -8px
                    top 34%
                    margin-top -6px
                    border-radius 100%
                    .time-d-i
                        width 7px
                        height 7px
                        background #25a9ff
                        position absolute
                        top 3px
                        left 3px
                        border-radius 100%
                .time-date-cont
                    width 80%
                    height 44px
                    background #ffad42
                    line-height 44px
                    text-indent 1rem
                    border-radius 5px
                    color #fff
                    margin-left 12%
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis


    .time-bottom
        height 90px
        position fixed
        bottom 0
        left 0
        width 100%
        background #fff
        border-top 1px solid #8598a7
        .time-list
            height 45px
            line-height 45px
            .time-bottom-name
                width 35%
                color #666
                line-height 45px
                height 100%
                overflow hidden
                float left
                i
                    width 20px
                    height 20px
                    float left
                    display block
                    margin 14px 6% 0 12%
                span
                    float left
                    display block
                .s-i-icon-5
                    background url(../i/s-i-icon-5.png) no-repeat
                    background-size 100%
                .s-i-icon-6
                    background url(../i/s-i-icon-6.png) no-repeat
                    background-size 100%
            .inten-cont
                color #999
                margin-left 5%
                float left
                margin-top 8px
                .border
                    border-radius 5px
                    padding-right 27px
                    border 1px solid #ccc
                    height 27px
                    position relative
                    text-indent 8px
                    line-height 27px
                    color #25a9ff
                    i
                        width 11px
                        height 11px
                        display block
                        position absolute
                        background url(../i/s-i-icon-8.png) no-repeat
                        background-size 100%
                        top 9px
                        right 7px
            .time-box
                overflow hidden
                margin-left 5%
                width 60%
                float left
                .time
                    float left
                    height 100%
                .btn-icon
                    display block
                    width 45px
                    height 25px
                    background url(../i/p-time-icon-2.png) 10px 2px no-repeat
                    background-size 60%
                    float left
                    margin-left 8%
                    border-radius 3px
                    margin-top 10px
                    position relative
                    input
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        z-index 1
                        opacity 0
                        font-size 0
                        border 0